In [1]:
sd(c(5,8,12))

[1] 3.511885

In [2]:
which.min(c(4,1,6))

[1] 2

In [3]:
sr2 = sqrt(2)
hours <- 365*24

In [4]:
ls()

[1] "hours" "sr2"

In [5]:
hours

[1] 8760

In [6]:
sar2.root = 1

In [7]:
ls()

[1] "hours"     "sar2.root" "sr2"

In [8]:
2sqar = 1

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected symbol
1: 2sqar
     ^

In [1]:
WHO =  read.csv("WHO.csv")

In [2]:
summary (WHO)

                Country                      Region     Population
 Afghanistan        :  1   Africa               :46   Min.   :      1
 Albania            :  1   Americas             :35   1st Qu.:   1696
 Algeria            :  1   Eastern Mediterranean:22   Median :   7790
 Andorra            :  1   Europe               :53   Mean   :  36360
 Angola             :  1   South-East Asia      :11   3rd Qu.:  24535
 Antigua and Barbuda:  1   Western Pacific      :27   Max.   :1390000
 (Other)            :188
    Under15          Over60      FertilityRate   LifeExpectancy
 Min.   :13.12   Min.   : 0.81   Min.   :1.260   Min.   :47.00
 1st Qu.:18.72   1st Qu.: 5.20   1st Qu.:1.835   1st Qu.:64.00
 Median :28.65   Median : 8.53   Median :2.400   Median :72.50
 Mean   :28.73   Mean   :11.16   Mean   :2.941   Mean   :70.01
 3rd Qu.:37.75   3rd Qu.:16.69   3rd Qu.:3.905   3rd Qu.:76.00
 Max.   :49.99   Max.   :31.92   Max.   :7.580   Max.   :83.00
                                 NA's   :11
 ChildMortality    CellularSubscribers  LiteracyRate        GNI
 Min.   :  2.200   Min.   :  2.57      Min.   :31.10   Min.   :  340
 1st Qu.:  8.425   1st Qu.: 63.57      1st Qu.:71.60   1st Qu.: 2335
 Median : 18.600   Median : 97.75      Median :91.80   Median : 7870
 Mean   : 36.149   Mean   : 93.64      Mean   :83.71   Mean   :13321
 3rd Qu.: 55.975   3rd Qu.:120.81      3rd Qu.:97.85   3rd Qu.:17558
 Max.   :181.600   Max.   :196.41      Max.   :99.80   Max.   :86440
                   NA's   :10          NA's   :91      NA's   :32
 PrimarySchoolEnrollmentMale PrimarySchoolEnrollmentFemale
 Min.   : 37.20              Min.   : 32.50
 1st Qu.: 87.70              1st Qu.: 87.30
 Median : 94.70              Median : 95.10
 Mean   : 90.85              Mean   : 89.63
 3rd Qu.: 98.10              3rd Qu.: 97.90
 Max.   :100.00              Max.   :100.00
 NA's   :93                  NA's   :93

In [3]:
which.min(WHO$Over60)

[1] 183

In [ ]:
WHO$Country